## 1.3.4. Bài tập thực hành 2
### Tìm hiểu các tính năng và cách sử dụng sản phẩm AutoViz áp dụng trên tập dữ liệu Marketing Campaign

**Giới thiệu AutoViz:**
AutoViz là một thư viện Python hỗ trợ phân tích dữ liệu khám phá (EDA – Exploratory Data Analysis) tự động.

Thay vì phải viết nhiều dòng code để vẽ từng biểu đồ thủ công, AutoViz có thể:
- Tự động nhận diện loại dữ liệu (số, phân loại, thời gian).

- Xử lý cơ bản dữ liệu (loại bỏ missing values, chuẩn hóa định dạng).

- Sinh ra nhiều biểu đồ trực quan (histogram, boxplot, scatter plot, heatmap).

- Điều này giúp nhà phân tích tiết kiệm thời gian khi tìm hiểu tập dữ liệu mới và nhanh chóng nắm được bức tranh tổng quan trước khi xây dựng mô hình.

**Một số tính năng chính của AutoViz:**

- Tự động phân tích dữ liệu đầu vào: phát hiện kiểu dữ liệu, phân phối, giá trị thiếu.

- Trực quan hóa đa dạng:

    - Histogram và Boxplot cho biến số.

    - Scatter plot giữa các cặp biến số.

    - Heatmap thể hiện tương quan giữa các biến số.

- So sánh theo biến mục tiêu: nếu dataset có biến phân loại (target), AutoViz sẽ phân tích phân phối và đặc trưng của các nhóm.

- Hỗ trợ dữ liệu lớn: có thể làm việc với hàng trăm nghìn dòng.

#### Cách sử dụng đối với file Marketing Campaign:

In [1]:
import pandas as pd
import os, webbrowser
import matplotlib.pyplot as plt
from autoviz.AutoViz_Class import AutoViz_Class

# --- Patch plt.show để auto-save ---
plots_dir = "AutoViz_Plots/Response"
os.makedirs(plots_dir, exist_ok=True)
counter = 0
def patched_show(*args, **kwargs):
    global counter
    counter += 1
    plt.gcf().savefig(os.path.join(plots_dir, f"plot_{counter}.png"),
                      bbox_inches="tight", dpi=120)
    plt.close()
plt.show = patched_show

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

In [2]:
# --- Load dữ liệu ---
df = pd.read_csv("marketing_campaign.csv", sep="\t").drop_duplicates()
if "Income" in df.columns:
    df["Income"] = pd.to_numeric(df["Income"], errors="coerce").fillna(df["Income"].median())

In [3]:
# --- AutoViz ---
AV = AutoViz_Class()
AV.AutoViz(filename="", dfte=df, depVar="Response", sep=",", header=0,
           verbose=1, chart_format="png", max_rows_analyzed=150000, max_cols_analyzed=30)

Shape of your Data Set loaded: (2240, 29)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  1
    Number of Integer-Categorical Columns =  15
    Number of String-Categorical Columns =  2
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  6
    Number of Discrete String Columns =  1
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  2
    28 Predictors classified...
        3 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['ID', 'Z_CostContact', 'Z_Revenue']

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 182 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...

Could not draw wordcloud plot for Dt_Customer.
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

All Plots done
Time to run AutoViz = 21 seconds

 ###################### AUTO VISUALIZATION Completed ########################

[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to C:\Users\BAO
[nltk_data]    |     TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\BAO TRAN\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,0
1,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,1
2,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,1
3,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,1
4,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,1
2236,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,1
2237,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,1
2238,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,1
2239,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,0

In [4]:
# --- HTML Report ---
report = "autoviz_report.html"
with open(report, "w", encoding="utf-8") as f:
    f.write("""<html>
    <head>
        <meta charset="utf-8">
        <title>AutoViz Report</title>
        <style>
            body { margin: 0; font-family: 'Segoe UI', Tahoma, sans-serif; background: #f4f6f9; }
            .header { position: fixed; top: 0; left: 0; right: 0; height: 60px; background: #2c3e50; 
                      color: white; display: flex; align-items: center; padding-left: 20px; font-size: 20px; z-index: 1000; }
            .sidebar { position: fixed; top: 60px; left: 0; width: 230px; bottom: 0; background: #34495e; padding: 20px; overflow-y: auto; }
            .sidebar h2 { color: #ecf0f1; font-size: 16px; margin-bottom: 15px; border-bottom: 1px solid #7f8c8d; padding-bottom: 5px; }
            .sidebar a { display: block; color: #bdc3c7; text-decoration: none; margin: 8px 0; padding: 6px 8px; border-radius: 4px; }
            .sidebar a:hover { background: #1abc9c; color: white; }
            .content { margin-left: 250px; padding: 80px 30px 30px 30px; }
            h1 { color: #2c3e50; margin-bottom: 10px; }
            h2 { margin-top: 40px; color: #34495e; border-bottom: 2px solid #bdc3c7; padding-bottom: 5px; }
            img { max-width: 100%; background: white; border: 1px solid #ccc; box-shadow: 0 2px 6px rgba(0,0,0,0.1); margin: 15px 0; padding: 5px; border-radius: 6px; }
        </style>
    </head>
    <body>
        <div class="header">AutoViz Report</div>
        <div class="sidebar">
            <h2>Danh mục Plot</h2>
    """)
    
    for img in sorted(os.listdir(plots_dir)):
        if img.endswith(".png"):
            anchor = img.replace(".png", "")
            f.write(f"<a href='#{anchor}'>*{img}</a>\n")
    f.write("</div><div class='content'><h1>AutoViz Report</h1>\n")

    for img in sorted(os.listdir(plots_dir)):
        if img.endswith(".png"):
            anchor = img.replace(".png", "")
            f.write(f"<h2 id='{anchor}'>{img}</h2>\n")
            f.write(f"<img src='{os.path.join(plots_dir, img)}'>\n")
    f.write("</div></body></html>")

In [5]:
print(f"Đã tạo: {os.path.abspath(report)}")
webbrowser.open("file://" + os.path.abspath(report))

Đã tạo: D:\ai_pratice_prj\lab5\autoviz_report.html

True

**Nhận xét khi áp dụng với tập dữ liệu Marketing Campaign:**

Khi dùng AutoViz để phân tích file marketing_campaign.csv, có thể rút ra một số điểm sau:

- Dữ liệu gồm cả số (như Year_Birth, Income, Recency, MntWines, MntMeatProducts) và chữ (như Education, Marital_Status). Cột Income có giá trị bị thiếu, đã được thay bằng trung vị để đảm bảo phân tích mượt hơn.

- Biến mục tiêu là Response (0 = không phản hồi, 1 = có phản hồi). AutoViz dựa vào đó để so sánh các đặc điểm giữa hai nhóm khách hàng.

- Một vài kết quả nổi bật:

        - Year_Birth nằm trong khoảng 1892–1996, cho thấy AutoViz đã bỏ bớt giá trị ngoại lai.

        - Income có phân phối lệch phải: đa số thu nhập trung bình, một số ít thu nhập rất cao.

        - Các biến gia đình như Kidhome và Teenhome có liên quan nhẹ đến Response.

        - Recency (số ngày từ lần mua gần nhất) cũng có ảnh hưởng, khách hàng mua gần đây thường dễ phản hồi hơn.

        - Chi tiêu như MntWines hay MntMeatProducts không liên quan rõ ràng tới Response.

        - Nhóm có Education = PhD và Marital_Status = Married thường có Income cao hơn so với các nhóm khác.

Nhìn chung, AutoViz giúp thấy nhanh đặc điểm và mối liên hệ giữa các biến với Response, tuy nhiên không phải cột nào cũng có biểu đồ rõ ràng. Đây chỉ là bước khám phá dữ liệu ban đầu, cần thêm các phân tích thống kê hoặc mô hình dự đoán để rút ra kết luận chắc chắn hơn.